.c-button {
    display: block;
    width: 100%;
    max-width: 200px;
    margin-top: 40px;
    padding: 18px 0;
    border-radius: 31px;
    background: $yellow;
    @include fz(20);
    @include lh(1);
    font-family: $font_futura;
    text-align: center;
    @include sp {
        margin-left: auto;
        margin-right: auto;
    }
    &--center {
        @extend .c-button;
        margin-left: auto;
        margin-right: auto;
    }
}

.c-button--line {
    display: block;
    position: relative;
    margin-top: 20px;
    padding-left: 62px;
    @include fz(20, 18);
    @include lh(1);
    font-family: $font_futura;
    @include sp {
        padding-left: 50px;
    }
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 58px;
        height: 2px;
        background: $black;
        @include sp {
            width: 42px;
        }
    }
    &--white {
        @extend .c-button--line;
        color: $white;
        &::before {
            background: $white;
        }
    }
}

.c-button--linemini {
    @extend .c-button--line;
    @include fz(18, 16);
    margin-top: 16px;
    &--white {
        @extend .c-button--linemini;
        color: $white;
        &::before {
            background: $white;
        }
    }
}
