<!DOCTYPE html>
<html lang="jp">
<%- include('../_include/_head') %>

    <body>
        <div class="wapper p-top">
            <%- include('../_include/_header') %>

                <main>

                </main>

            <%- include('../_include/_footer') %>
        </div>
    </body>

</html>