<!DOCTYPE html>
<html lang="jp">
<%- include('../_include/_head') %>

	<body>
		<div class="wapper p-top">
			<%- include('../_include/_header') %>

				<main>
					<section class="l-mv">
						<div class="l-mv_inner">
							<h1>MOVE HEART.</h1>
							<p>
								We don’t just make videos.<br>
								What we make is a videos, <br class="sp">a videos that changes the “Future”.
							</p>
						</div>
						<ul class="l-mv_sns">
							<li><a href=""><img src="./assets/img/icon_facebook.svg" alt="facebook" width="30" height="30"></a></li>
							<li><a href=""><img src="./assets/img/icon_instagram.svg" alt="Instagram" width="30" height="30"></a></li>
							<li><a href=""><img src="./assets/img/icon_twitter.svg" alt="Twitter" width="30" height="30"></a></li>
						</ul>
					</section>

					<section class="p-top_about l-section">
						<div class="l-container">
							<div class="p-top_about_cont">
								<div class="p-top_about_cont_text">
									<h2 class="c-title">ABOUT</h2>
									<div class="c-textArea">
										<p class="c-textArea_text--big">
											心が動けば、その瞬間から未来が変わる。<br>
											私たちはただの映像なんか作らない。<br>
											作るのは心を動かす映像、<br class="sp">「未来」を変える映像だ。
										</p>
										<a class="c-button" href="">MORE...</a>
									</div>
								</div>

								<div class="p-top_about_cont_img">
									<img src="./assets/img/about_img.jpg" alt="ABOUT image" width="630" height="711.53">
								</div>
							</div>
						</div>
					</section>

				</main>

				<%- include('../_include/_footer') %>
		</div>
	</body>

</html>