<footer class="l-footer wow animate__animated animate__fadeIn" data-wow-delay="0.2s" data-wow-duration="1.5s" data-wow-offset="120" id="contact">
  <div class="l-container">
    <div class="l-footer_contact">
      <h2 class="c-title--center wow animate__animated animate__fadeIn" data-wow-delay="0.6s" data-wow-duration="1.5s" data-wow-offset="120">CONTACT</h2>
      <div class="c-textArea--center">
        <p class="c-textArea_text--big wow animate__animated animate__fadeIn" data-wow-delay="0.9s" data-wow-duration="1.5s" data-wow-offset="120">
          自分の想いを誰かに伝えたい。<br>
          そんなあなたのために<br class="sp">私たちは存在しています。<br>
          お気軽にご連絡ください。
        </p>
        <a class="c-button--center wow animate__animated animate__fadeIn" data-wow-delay="1.2s" data-wow-duration="1.5s" data-wow-offset="120" href="">CONTACT</a>
      </div>
    </div>

    <div class="l-footer_logo"><img src="./assets/img/logo_03.svg" alt="MOVE" width="138" height="104.48"></div>
    <ul class="l-footer_sns">
      <li><a href=""><img src="./assets/img/icon_facebook.svg" alt="facebook" width="32" height="32"></a></li>
      <li><a href=""><img src="./assets/img/icon_instagram.svg" alt="Instagram" width="32" height="32"></a></li>
      <li><a href=""><img src="./assets/img/icon_twitter.svg" alt="Twitter" width="32" height="32"></a></li>
    </ul>
    <nav class="l-footer_nav pc">
      <ul class="l-footer_nav_inner">
        <li class="l-footer_nav_cmn"><a href="#">TOP</a></li>
        <li class="l-footer_nav_cmn"><a href="#">ABOUT</a></li>
        <li class="l-footer_nav_cmn"><a href="#">SERVISE</a></li>
        <li class="l-footer_nav_cmn"><a href="#">WORKS</a></li>
        <li class="l-footer_nav_cmn"><a href="#">NEWS</a></li>
        <li class="l-footer_nav_cmn"><a href="#">CONTACT</a></li>
      </ul>
    </nav>
    <p class="l-footer_copy">&copy;asuma 2021</p>
  </div>
</footer>