<header class="l-header j-header">
  <div class="l-header_logo">
    <a href="/">
      <picture>
        <source media="(max-width: 768px)" srcset="./assets/img/logo_icon.svg">
        <img src="./assets/img/logo_02.svg" alt="MOVE" width="160" height="33.77">
      </picture>
    </a>
  </div>

  <div class="l-header_pageTitle">TOP</div>

  <button class="l-header_btn j-header_btn">
    <div class="l-header_btn_hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div class="l-header_btn_text pc">
      <div class="l-header_btn_text_inner">
        <span>MENU</span>
        <span>CLOSE</span>
      </div>
    </div>
  </button>


  <nav class="l-header_nav">
    <ul class="l-header_nav_inner" id="page-link">
      <li class="l-header_nav_cmn"><a class="j-header_link" href="#top">TOP</a></li>
      <li class="l-header_nav_cmn"><a class="j-header_link" href="#about">ABOUT</a></li>
      <li class="l-header_nav_cmn"><a class="j-header_link" href="#service">SERVICE</a></li>
      <li class="l-header_nav_cmn"><a class="j-header_link" href="#works">WORKS</a></li>
      <li class="l-header_nav_cmn"><a class="j-header_link" href="#news">NEWS</a></li>
      <li class="l-header_nav_cmn"><a class="j-header_link" href="#contact">CONTACT</a></li>
    </ul>
  </nav>
</header>