<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>WEBCHIKA</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="WEBCHIKA" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="WEBCHIKA" />
    <link rel="stylesheet" href="https://use.typekit.net/wqr3nol.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="./assets/css/style.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="./assets/js/wow.min.js"></script>
    <script src="./assets/js/script.js" defer></script>
</head>