.l-mv {
    width: 100%;
    height: calc(100vh - 80px);
    position: relative;
    @include sp {
        height: calc(100vh - 60px);
    }
    &_inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: calc(100% - 80px);
        background: url(../img/mv_bg.jpg) 20% 65% / cover no-repeat;
        text-align: center;
        font-family: $font_futura;
        color: $white;
        @include sp {
            background: url(../img/mv_bg_sp.jpg) 20% 65% / cover no-repeat;
            height: calc(100% - 60px);
        }
        h1 {
            @include fz(92, 48);
            letter-spacing: 0.032em;
        }
        p {
            @include fz(26, 18);
            @include lh(1.3);
            margin-top: 10px;
        }
    }

    &_sns {
        width: 100%;
        height: 80px;
        background: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        @include sp {
            height: 60px;
        }
        li {
            width: 30px;
            & + li {
                margin-left: 48px;
                @include sp {
                    margin-left: 26px;
                }
            }
        }
    }
}
